{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup-title">
<h2>{% trans "Sign Up" %}</h2>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
</div>
<form class="signup signup-form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  <div class="sf-input-list">
  {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {% for error in field.errors %} {{ error }} {% endfor %}
                <p>{{ field.label_tag }}</p>
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

{% endblock %}
