{% load cms_tags %}
{% load djangocms_blog i18n easy_thumbnails_tags cms_tags site_server_tags %}
{% with '/static/' as static_base %}

<section class="features-section-5 bg-image-3 relative" id="contact">
    <div class="container">
        <div class="row section-separator">

            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="form-outer background-light">

                    <!-- Start: Section Header -->
                    <div class="section-header col-xs-12">

                        <h2 class="section-heading">Contact Us</h2>

                    </div>
                    <!-- End: Section Header -->

                    <div class="clearfix"></div>

                    <form id="contact-form" method="get" class="single-form" action="/api/contact/">
                        {% csrf_token %}
                        <div class="message col-xs-12">
                            <div class="inner">

                                <p class="email-loading"><img src="images/loading.gif" alt="">&nbsp;&nbsp;&nbsp;Sending...</p>
                                <p class="email-success"><i class="icon icon-icon-check-alt2"></i> Contact has been made.</p>
                                <p class="email-failed"><i class="icon icon-icon-close-alt2"></i> Something went wrong!</p>

                            </div> <!-- End: .inner -->
                        </div> <!-- End: .message -->


                        <div class="col-sm-6">
                            <input name="name" class="name form-control" id="name" type="text" placeholder="Name"  required="">
                        </div>

                        <div class="col-sm-6">
                            <input name="phone" class="phone form-control" id="phone" type="text" placeholder="Phone">
                        </div>

                        <div class="col-sm-12">
                            <input name="email" class="email form-control" id="email" type="email" placeholder="Email"  required="">
                        </div>

                        <div class="col-sm-12">
                            <input name="name" class="subject form-control" id="subject" type="text" placeholder="Subject"  required="">
                        </div>

                        <div class="col-sm-12">
                            <textarea class="message form-control" id="message" rows="3" placeholder="Message" required=""></textarea>
                        </div>

                        <!-- Subject Button -->
                        <div class="btn-form text-center col-xs-12">
                            <button class="btn btn-fill right-icon">send message <i class="icon icons8-advance"></i></button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

{% if request.user.is_staff %}
<section class=""  id="section-productibity">
<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-grey">
            <h3 class="box-title">Skills and resources </h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Story</th>
                            <th>Done</th>
                            <th>To Do</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% render_productivity %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></div>
</section>

<section class="site-section" id="section-portfolio">
    <div class="container">
        <div class="row mx-auto my-auto">

            <div id="portfolioCarousel" class="carousel w-100 carousel-fade" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                <div class="row">
                    <div class="section-heading text-center col-md-12">
                        <h2 class="mb-4"> Stories</h2>
                    </div>
                </div>
                {% render_portfolio_building as portfolios %}
                {% for portfolio in portfolios %}

                    <div>

                         <div class="col-md-6 col-lg-4 text-left mb-5">

                            {% if portfolio.image %}
                                <a href="#"><img src="{{ portfolio.image}}" width="100%" alt="Image placeholder" class="img-fluid"></a>
                            {% endif %}

                            <div class="card-body site-service-item">
                                <h3 class="card-title">{{ portfolio }}</h3>
                                <p class="card-text">{{ portfolio.description}}</p>

                                <h4>Tasks</h4>
                                <ol>
                                    {% for task in portfolio.get_tasks%}
                                    <li>{{ task }} - {{ task.description|safe }}</li>
                                    {% endfor %}
                                </ol>
                                <br />
                                <h4>Time</h4>
                                <ol>
                                    <li>Estimated : {{ portfolio.get_tasks_est_time }}</li>
                                    <li>Work Done : {{ portfolio.get_spent_time }}</li>

                                </ol>

                                <div class="meta">
                                    {% if portfolio.url %}
                                        <a href='{{ portfolio.url }}' target='_blank'>Read More...</a>
                                    {% endif %}
                                    <a href="#1"><span class="icon-calendar"></span> {{ portfolio.creation_date }}</a>
                                    <!--<a href="/static/record/index.html?story={{portfolio.id}}">record audio</a>-->

                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>
                <a class="carousel-control-prev w-auto" href="#portfolioCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#portfolioCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span></a>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}