{% load cms_tags %}
{% load djangocms_blog i18n easy_thumbnails_tags cms_tags site_server_tags %}
{% with '/static/rezume/' as static_base %}

<footer class="footer-section background-dark">
    <div class="container">
        <div class="row section-separator text-center">

            <div class="copyright">
                <p>Copyright: ThemeOcean 2016. Designed by <a href="https://templateocean.com">TemplateOcean</a></p> <!-- You can keep the link to show us some support :) -->
            </div>

        </div>
    </div>
</footer>

{% endwith %}